.image-wraper {
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid gray;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;
  background-color: rgb(80, 79, 79);
}

.image-wraper:hover {
  cursor: pointer;
}
