.login-title {
  color: black;
  font-weight: bold;
  font-size: x-large;
}
.login-wraper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.login-conrainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-width: 400px;
  max-width: 800px;
  background-color: rgba(215, 224, 228, 0.288);
  color: #fff;
  padding: 50px 35px 35px 35px;
  border: 2px solid rgba(255, 255, 255, 0.13);
  border-radius: 10px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}

.login-user-list {
  max-width: 100%;
  max-height: 5rem;
  background-color: rgba(128, 128, 128, 0.425);
  border-radius: 0.5rem;
  overflow: hidden;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  overflow-y: scroll;
  font-size: 0.8rem;
}
.login-user-list ul {
  list-style: none;
  margin: unset;
  padding: 0.6rem;
  color: rgb(32, 124, 243);
  line-height: 2rem;
}
.login-user-list ul li:hover {
  cursor: pointer;
  font-weight: 700;
}
.login-user-list ul li span {
  padding-right: 0.2rem;
}
.login-user-list-selected {
  color: green;
  font-weight: 800;
}
